<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>מי המפורסמת - משחק</title>
     <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body oncontextmenu="return false;">
	<a href="/">חזרה למסך הראשי</a>
    <form id="MainFormId" action="/result" method ="POST" onsubmit="return validateQuiz()">
        <input type="submit" value="שליחה">
    </form>
    <br><br>

</body>
</html>

<script src="/static/jquery-3.1.1.min.js"></script>
<script src="/static/mustache.min.js"></script>





<script>
    {% raw %}
    var DivTemplate = [
'<div id="person{{person_id}}">',
    '<h2>תמונה מספר {{person_id}}</h2>',
    '<img id="person_image_{{person_id}}" src="" width="500">',
    '<br>',
    '<input id="person_{{person_id}}_option_1" type="radio" name="" value=""/><label for="person_{{person_id}}_option_1"></label>',
    '<input id="person_{{person_id}}_option_2" type="radio" name="" value=""/><label for="person_{{person_id}}_option_2"></label>',
    '<input id="person_{{person_id}}_option_3" type="radio" name="" value=""/><label for="person_{{person_id}}_option_3"></label>',
    '<input id="person_{{person_id}}_option_4" type="radio" name="" value=""/><label for="person_{{person_id}}_option_4"></label>',
    '</div>'].join('\n');
    {% endraw %}


    // p_ix = person index   ; o_ix = option index

    persons = {{data|safe}};
    for (p_ix = persons.length; p_ix > 0; p_ix--) {
        var question_data = {
            person_id: p_ix
        };
        console.log('#person_image_' + p_ix)

        var QuestionDiv = Mustache.render(DivTemplate, {"person_id": p_ix});
        $('#MainFormId').prepend(QuestionDiv);
        $('#person_image_' + p_ix).attr("src",persons[p_ix-1].image_url);
        for (o_ix=1; o_ix < persons[p_ix-1].options.length+1; o_ix++) {
            //debugger;
            console.log('label[for=person_' + p_ix + '_option_' + o_ix + ']');
            $('label[for=person_' + p_ix + '_option_' + o_ix + ']').html(JSON.stringify(persons[p_ix-1].options[o_ix-1]));
            var current_id = 'person_' + p_ix.toString() + '_option_' + o_ix.toString();
            console.log('requested id is: ' + current_id);

            $('#' + current_id).attr('value',p_ix.toString() + '_' + JSON.stringify(persons[p_ix-1].options[o_ix-1]));
            $('#' + current_id).attr('name','question_'+ p_ix);
        }
     }

     function validateQuiz() {
         var answered = 0;
         for (var q=1; q <= persons.length; q++) {            
            if (document.querySelector(`input[name="question_${q}"]:checked`) != null) {
                answered ++;
            }
         }         
         if (answered < persons.length) {
            alert(`ענית רק על ${answered} מתוך ${persons.length} השאלות.`);
            return false;
         }
     }
</script>
