<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>מי המפורסמת - משחק</title>
     <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body>
	<a href="/">חזרה למסך הראשי</a>
    <form id="MainFormId" action= "/result" method = "POST">
        <input type="submit" value="שליחה">
    </form>
    <br><br>

</body>
</html>

<script src="/static/jquery-3.1.1.min.js"></script>
<script src="/static/mustache.min.js"></script>





<script>
    {% raw %}
    var DivTemplate = [
'<div id="person{{person_id}}">',
    '<h2>תמונה מספר {{person_id}}</h2>',
    '<img id="person_image_{{person_id}}" src="" width="500">',
    '<br>',
    '<input id="person_{{person_id}}_option_1" type="radio" name="option_1"/><label for="person_{{person_id}}_option_1"></label>',
    '<input id="person_{{person_id}}_option_2" type="radio" name="option_2"/><label for="person_{{person_id}}_option_2"></label>',
    '<input id="person_{{person_id}}_option_3" type="radio" name="option_3"/><label for="person_{{person_id}}_option_3"></label>',
    '<input id="person_{{person_id}}_option_4" type="radio" name="option_4"/><label for="person_{{person_id}}_option_4"></label>',
    '</div>'].join('\n');
    {% endraw %}

    persons = {{data|safe}};
    for (i = persons.length; i > 0; i--) {
        var question_data = {
            person_id: i
        };
        console.log('#person_image_' + i)

        var QuestionDiv = Mustache.render(DivTemplate, {"person_id": i});
        $('#MainFormId').prepend(QuestionDiv);
        $('#person_image_' + i).attr("src",persons[i-1].image_url);
        for (j=1; j < persons[i-1].options.length+1; j++) {
            console.log('label[for=person_' + i + '_option_' + j + ']');
            $('label[for=person_' + i + '_option_' + j + ']').html(JSON.stringify(persons[i-1].options[j-1]));
        }
     }
</script>
