<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>מי המפורסמת - דף הבית</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body>
<h1>ברוכים הבאים למשחק "זהו מי בתמונה!"</h1>
<h2>יש לבחור בקטגוריה אחת או יותר וללחוץ על "התחל". לאחר מכן יוצגו בפניכם אנשים מתוך הקטגוריות שבחרתם ותצטרכו לזהות מי המפורסמ/ת שמופיע/ה בתמונה.</h2>
</body>
<br/><br/><br/>
<form action = "/game" method = "POST" id="MainFormId">
    <div id="CategoriesDiv"></div>
    <input type="submit" value="התחל" onclick="waitMsg()">
</form>
<br/>
<p id="waitMsgId" style="color:red;"></p>
</html>

<script src="/static/jquery-3.1.1.min.js"></script>
<script src="/static/mustache.min.js"></script>

<script src="/static/jquery-3.1.1.min.js"></script>
<script>
    {% raw %}
    var CategoryTemplate = '<input type="checkbox" name="{{name}}" value="{{value}}">{{display_name}}<br>';    
    {% endraw %}
    categories = {{data|safe}};
    for (const [key, value] of Object.entries(categories)) {
        Category_CB = Mustache.render(CategoryTemplate, {"name": key, "display_name": value.display_name});
        $('#CategoriesDiv').append(Category_CB);
    }


    function waitMsg() {
        document.getElementById("waitMsgId").innerHTML = "נא להמתין מספר שניות עד שהמשחק ייטען...";
    }
</script>